<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>coordinateur</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    {% for enseignant, details in enseignant_data.items() %}
    <div class="card mb-3">
        <div class="card-body">
            <h2 class="card-title">{{ enseignant }}</h2>
            <p class="card-text">Grade : {{ details.grade }}</p>
            <p class="card-text">Période d'avancement : {{ details.periode_avancement }}</p>
            <p class="card-text">Établissement : {{ details.etablissement }}</p>
        </div>
        
        <div class="card-footer">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Année Universitaire</th>
                        <th>Filière</th>
                        <th>Semestre</th>
                        <th>Enseignement Effectué</th>
                    </tr>
                </thead>
                <tbody>
                    {% for enseignement in details.enseignements %}
                        <tr>
                            <td>{{ enseignement.annee_universitaire }}</td>
                            <td>{{ enseignement.filiere }}</td>
                            <td>{{ enseignement.semestre }}</td>
                            <td>
                                <ul class="list-unstyled mb-0">
                                    <li>TD : {{ enseignement.td }}</li>
                                    <li>TP : {{ enseignement.tp }}</li>
                                    <li>Cours : {{ enseignement.cours }}</li>
                                </ul>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endfor %}


</body>
</html>